.circle-container {
    display: flex;
    align-items: center; /* Vertical alignment */
  }
  
  .circle {
    width: 100px; 
    height: 100px;
    background-color: #828588; 
    border-radius: 50%; 
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    margin-right: 20px; 
    border: 2px solid black;
  }
  
  .content {
    flex: 1; /* Take up remaining space */
  }
  
  h1, h2 {
    margin: 0; /* Remove default margin for headings */
  }
  .circle i {
    font-size: 3rem; /* Adjust the icon size as needed */
    color: white; /* Icon color */
  }
  span{
    color: aqua;
  }
