.circle-container {
    display: flex;
    align-items: center; /* Vertical alignment */
  }
  
  .circle {
    width: 100px; /* Adjust the size of the circle as needed */
    height: 100px; /* Adjust the size of the circle as needed */
    background-color: #828588; /* Adjust the background color as needed */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    margin-right: 20px; /* Adjust spacing between circle and content */
    border: 2px solid black;
  }
  
  .content {
    flex: 1; /* Take up remaining space */
  }
  
  h1, h2 {
    margin: 0; /* Remove default margin for headings */
  }
  .circle i {
    font-size: 3rem; /* Adjust the icon size as needed */
    color: white; /* Icon color */
  }
  span{
    color: aqua;
  }